<!DOCTYPE HTML>
<html>
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css">
    <style>
      html, body{padding: 0; margin: 0;}
      #earth-div{top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
    </style>

    <script type="text/javascript">
      var earth;
      var markers = [];
      var animatedEarth;
      var animatedMarkers;

      function initialize() {
        options = { zoom: 4, position: [140.19537,80] };
        earth = new WE.map('earth-div', options);

        $('#play').mouseup(animate);

        addMarkers();
        tileEarth().done(animate);
        browseByCountry();
        addControllers();
      }

      function tileEarth() {
        var r = $.Deferred();
        WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);
        setTimeout(function() {
          r.resolve();
        }, 2800);
        return r;
      }

      function addMarkers() {
        p = {{places|safe}}
        for (i = 0; i < p.length; i ++) {
          lat = p[i]['fields']['latitude'];
          lon = p[i]['fields']['longitude']
          marker = WE.marker([lat, lon]).addTo(earth);
          markers.push(marker);

          var popupTemplate = $("#marker-template").html();
          var $popup = $("<div/>").html(popupTemplate);
          $popup.find("#img").attr("src", p[i]['pk']);
          $popup.find("#img-anchor").attr("href", p[i]['pk']);
          $popup.find("#caption").text(p[i]['fields']['caption']);
          marker.bindPopup($popup.html(), {maxWidth: 150, closeButton: true});
        }
      }

      function animate() {
        console.log('animate');
        animateEarth();
        animateMarkers();
        $(document).one('mousedown', stopAnimation);        
      }

      function animateEarth() {
        animatedEarth = setInterval(function() {
          c = earth.getPosition();
          earth.setCenter([c[0], c[1] + 0.05]);
        }, 13);
      }

      function animateMarkers() {
        var lastm1 = getMarker();
        var lastm2 = getMarker();
        animatedMarkers = setInterval(function() {
          m1 = getMarker();
          m2 = getMarker();
          lastm1.closePopup();
          lastm2.closePopup();
          m1.openPopup();          
          m2.openPopup();
          lastm1 = m1;
          lastm2 = m2;          
        }, 2000);
      }

      function stopAnimation() {
        console.log('unbinded');
        clearInterval(animatedEarth);
        clearInterval(animatedMarkers);
      }

      function getMarker() {
        return markers[Math.floor(Math.random()*markers.length)];
      }

      function browseByCountry() {
        $("#dropdown-country").select2({
          placeholder: "Browse by avaliable country",
        });
      }

      function addControllers() {
        $("body").keydown(function(e) {
          c = earth.getPosition();
          zoom = Math.round(earth.getZoom());
          offset = 1.2
          stopAnimation();
          switch (e.which) {
            case 37: //left arrow
              earth.setCenter([c[0], c[1] - offset]);
              break;
            case 38: //up arrow
              earth.setCenter([c[0] + offset, c[1]]);
              break;
            case 39: //right arrow
              earth.setCenter([c[0], c[1] + offset]);
              break;
            case 40: //down arrow
              earth.setCenter([c[0] - offset, c[1]]);
              break;
            case 190: // . pressed
              earth.setZoom(zoom - 1)
              break;
            case 191: // / pressed
              earth.setZoom(zoom + 1)
              break;
            default:
              //nothing
          }
        });
      }
    </script>
  </head>

  <body bgcolor="#F0F8FF" onload="initialize()">
    <div id="earth-div"></div>
    <form id="form" style="position: absolute; left: 80%; top: 20px">
      {% csrf_token %}
      <select name='country' id="dropdown-country" onchange="changeCountry(this.value)" style="width:250px">
        <option></option>
        {% for country in countries %}
          <option name="country_name" value='{{country}}'>{{country}}</option>
        {% endfor %}
      </select>
    </form> 

    <img id="play" width="40px" height="40px" src="/static/web/img/play.png" style="position: absolute; left: 2%; bottom: 5%">
    <div style="position: absolute; right: 5%; bottom: 4%">
      <div style="float: right">
        <br>
        <img id="play" width="45px" height="45px" src="/static/web/img/cursor.png">
      </div>
      <div style="float: left">
        <font face="verdana">Arrow keys to navigate</font>
        <br>
        <font face="verdana">Use / to zoom in</font>
        <br>
        <font face="verdana">Use . to zoom out</font>
        <br>
      </div>
    </div>

    <script type="text/javascript">
      function changeCountry(country_name) {
        location.replace('/country/' + country_name)
      } 
    </script>
  <body>

  <script id="marker-template" type="text/temp">
    <a id='img-anchor' href=''> <img id="img" src="" height=140px width=140px></img> </a>
    </div>
    <span id="caption" style='font-size:10px;color:#999'> </span>
  </script>

</html>