<!DOCTYPE HTML>
<html>
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css">
    <script type="text/javascript">
      var earth;
      function initialize() {
        options = { zoom: 4, position: [140.19537,80] };
        earth = new WE.map('earth-div', options);
        WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);

        $("#dropdown-country").select2({
          placeholder: "Browse by country",
        });

        addControllers();
        addMarkers();
      }

      function addControllers() {
        $("body").keydown(function(e) {
          c = earth.getPosition();
          zoom = Math.round(earth.getZoom());
          offset = 1.2
          switch (e.which) {
            case 37: //left arrow
              earth.setCenter([c[0], c[1] - offset]);
              break;
            case 38: //up arrow
              earth.setCenter([c[0] + offset, c[1]]);
              break;
            case 39: //right arrow
              earth.setCenter([c[0], c[1] + offset]);
              break;
            case 40: //down arrow
              earth.setCenter([c[0] - offset, c[1]]);
              break;
            case 190: // . pressed
              earth.setZoom(zoom - 1)
              break;
            case 191: // / pressed
              earth.setZoom(zoom + 1)
              break;
            default:
              //nothing
          }
        });
      }

      function addMarkers() {
        p = {{places|safe}}
        for (i = 0; i < p.length; i ++) {
          lat = p[i]['fields']['latitude'];
          lon = p[i]['fields']['longitude']
          marker = WE.marker([lat, lon]).addTo(earth);

          var popupTemplate = $("#marker-template").html();
          var $popup = $("<div/>").html(popupTemplate);
          $popup.find("#img").attr("src", p[i]['pk']);
          $popup.find("#caption").text(p[i]['fields']['caption']);
          marker.bindPopup($popup.html(), {maxWidth: 150, closeButton: true});
        }
      }
      </script>
      <style>
        html, body{padding: 0; margin: 0;}
        #earth-div{top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
      </style>
    </script>
  </head>

  <body onload="initialize()">
    <div id="earth-div"></div>
    <form id="form" action="{% url 'porn:country' %}" method="post" style="position: absolute; left: 20px; bottom: 150px">
      {% csrf_token %}
      <select name='country' id="dropdown-country" onchange="form.submit()" style="width:250px">
        countries = {{countries}}
        <option></option>
        {% for country in countries %}
          <option value={{country}}>{{country}}</option>
        {% endfor %}
      </select>
    </form> 
  <body>

  <script id="marker-template" type="text/temp">
    <img id="img" src="" height=140px width=140px></img>
    </div>
    <span id="caption" style='font-size:10px;color:#999'> </span>
  </script>

</html>